Programs/.ipynb_checkpoints/
Programs/__pycache__/
Programs/*.DS_Store
Programs/Preparation/__pycache__/
Programs/Preparation/*.DS_Store
Programs/Analysis/__pycache__/
Programs/Analysis/*.DS_Store
Programs/notebook.ipynb
Programs/*.log
Graveyard/
Data/
Figures/
Tables/
myenv/
.env